<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Harry's Petstore
                </a>
        
                <p class="nav navbar-nav">
                    <a href="/petshop/pet">Home</a>
                    <a href="/petshop/about">About</a>
                </p>
            </div>
        
        </div>
        </nav>